.top{
	position: fixed;
	background-color: black;
	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
}

.bottom: {
	position: fixed;
	background-color: aliceblue;
	width: 100%;
	height: 50%;
	top: 0;
	right: 0;
}

.ground{
	background-color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
}

.batman{
	position: absolute;
	left: 0%;
	bottom: 20%;
	width: 180px;
	height:150px;
	background: url('../img/batman_standing.png') no-repeat 0 0;
	transition:left 1500ms;
}

.inamici{
	background: url('../img/inamic.png') no-repeat 0 0;
	right: 0%;
	bottom: 20%;
	width: 180px;
	height:150px;

}


body.body-state3 .batman{
	background: url('../img/batman_running.gif') no-repeat 0 0;
}

body.body-state4 .batman{
	background: url('../img/batman_wining.gif') no-repeat 0 0;
}

body.body-state5 .batman{
	background: url('../img/batman_loosing.gif') no-repeat 0 0;
}


body.body-state1 .batman{
	transition: none;
}

/*batman imagini*/

body.body-state3 .batman,
body.body-state4 .batman{
	left: 85%;

}

.state1,
.state2,
.state3,
.state4,
.state5{
	display: none;
}

h1{
	color: white;
}

body.body-state1 .state1{ display: block;}
body.body-state2 .state2{ display: block;}
body.body-state3 .state3{ display: block;}
body.body-state4 .state4{ display: block;}
body.body-state5 .state5{ display: block;}

a{
	color: white;

}

a.button{
	display: inline-block;
	background-color: white;
	color: black;
	padding: 20px 40px;
	text-decoration: none;
	border-radius: 10px;
	text-transform: uppercase;
}